django
djangorestframework
djangorestframework-simplejwt
psycopg2-binary
django-filter
channels
redis
django-redis
celery
django-cors-headers
uvicorn[standard]
websockets
pytest
pytest-django
pytest-asyncio
channels_redis
isort
black